[Desktop Entry]
Name=klogg-io
GenericName=Log file viewer
Exec=klogg-io %F
Icon=klogg
Type=Application
Comment=A smart interactive log explorer.
Terminal=false
Categories=Qt;Utility;TextTools;Development;
MimeType=text/plain;
Actions=Session;NewInstance;

[Desktop Action Session]
Exec=klogg-io --load-session %F
Name=Open With Previous Session

[Desktop Action NewInstance]
Exec=klogg-io --multi %F
Name=Open In A New klogg-io Window
